.row.input-text
  %label 
    Title
  %input.text_input{:name => "title", :type => "text", :value => @entry.title}/
.row.input-text
  %label 
    Slug
  %input.text_input{:name => "slug", :type => "text", :value => @entry.slug}/
.row.textarea
  %label 
    Body
  %textarea{:name => "text"}
    = @entry.text
.row.checkbox
  %label Published
  %input.checkbox{:checked => @entry.is_live, :name => "is_live", :type => "checkbox", :value => "true"}/