.login-box
  %h1 
    Login
  %form{:action => "/login", :method => "post"}
    .row
      %label Username
      %input{:name => "username", :type => "text"}/
    .row
      %label Password
      %input{:name => "password", :type => "password"}/

    %input.txt-btn.live{:type => "submit", :value => "login"}/