%h2 New Entry
%form{:action => "/admin/create", :method => "post"}
  = partial :entry_form
  %p
    %input.txt-btn.live{:type => "submit", :value => "create"}/
    %input.txt-btn.not-live{:onclick => "location.href='/admin'", :type => "button", :value => "cancel"}/