%h2 Edit Entry
%form{:action => "/admin/update/#{@entry.id}", :method => "post"}
  = partial :entry_form
  %p
    %input.txt-btn.live{:type => "submit", :value => "update"}/
    %input.txt-btn.not-live{:onclick => "location.href='/admin'", :type => "button", :value => "cancel"}/